<?xml version="1.0" encoding="utf-8"?>
<AzureSubscriptionData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CertificateData></CertificateData>
  <CurrentStorageAccount></CurrentStorageAccount>
  <IsDefault>true</IsDefault>
  <ServiceEndpoint>https://management.core.windows.net</ServiceEndpoint>
  <SubscriptionId></SubscriptionId>
  <SubscriptionName></SubscriptionName>
  <DeploymentLabel></DeploymentLabel>
  <Environment></Environment>
  <CloudService>
    <Name></Name>
    <Location></Location>
  </CloudService>
  <StorageService>
    <Name></Name>
  </StorageService>
</AzureSubscriptionData>