<?xml version="1.0" encoding="utf-8"?>
<searchConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" currentSearchService="AzureSearchService">
  <searchServices>
    <add azureServiceAdminKey="" azureSearchServiceName="" name="" />
  </searchServices>
</searchConfig>