<?xml version="1.0" encoding="utf-8"?>
<ServerInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ServerType>SQLAzure</ServerType>
  <ServerInstance></ServerInstance>
  <Login></Login>
  <Password></Password>
  <RootDatabase></RootDatabase>
  <TargetDatabase></TargetDatabase>
  <LoginSecure>false</LoginSecure>
</ServerInfo>